<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LearnVue</title>
    <!-- <script src="./lib/Vue-2.4.0.js"></script> -->
</head>

<body>
    <div id="app">
        <input type='text' v-model='str1'></input>
        <input type='text' v-model='child.str1'></input>
    </div>
    <script src="./js/myObserver.js"></script>
    <script src="./js/myWatcher.js"></script>
    <script src="./js/myCompile.js"></script>
    <script src="./js/myVue.js"></script>
    <script>
        
    </script>
</body>

</html>